<!DOCTYPE html>
<html>
<head>
  <title>Snowplow Flask Test</title>
  <!-- Tracking setup -->
  <script type="text/javascript">
    ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
    p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
    };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
    n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","../static/sp.js","snowplow"));

    window.snowplow('newTracker', 'sp', 'localhost:9090', {
      appId: 'flaskweb',
      platform: 'web',
      cookieDomain: null
    });

    // Track pageview
    window.snowplow('trackPageView');

    // Track structured event on button click
    function trackLoginClick() {
      window.snowplow('trackStructEvent', 'form', 'click', 'login_button', null, null);
    }
  </script>
</head>
<body>
  <h1>Welcome to Flask App 1</h1>



  <!-- Simulated login form -->
  <form onsubmit="trackLoginClick(); return false;">
    <label>Email: <input type="email" required></label><br>
    <label>Password: <input type="password" required></label><br>
    <button type="submit">Login</button>
  </form>
</body>
</html>
